<table class="table table-borderless">
  <tbody>
    <tr>
      <% if @value %> 
        <td><%= @value %></td>
      <%else%>
        <td>></td>
      <%end%>
    </tr>
  </tbody>
</table>

<%= form_with url: "/commands", method: :post do |form| %>
    <div class="mb-3">   
      <%= form.label :command %>
      <%= form.text_field :command, class: "form-control", placeholder: "Command here ..." %>
    </div>

    <%= form.submit "Enter", class: "btn btn-primary" %>
  <% end %>
